@model Application.Data.Models.Rating

@{
    ViewData["Title"] = "Create";
    var products = ViewBag.Products as List<Application.Data.Models.Product>;
    var users = ViewBag.Users as List<Application.Data.Models.User>;
}

<h1>Create</h1>

<h4>Rating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*             <div class="form-group">
            <label asp-for="RatingID" class="control-label"></label>
            <input asp-for="RatingID" class="form-control" />
            <span asp-validation-for="RatingID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control"
                        asp-items="@(users != null && users.Any() ? new SelectList(users, "UserID", "Username") : new SelectList(Enumerable.Empty<SelectListItem>()))">
                    <option value="">-- Chọn User --</option>
                </select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <select asp-for="ProductID" class="form-control"
                        asp-items="@(products != null && products.Any() ? new SelectList(products, "ProductID", "Name") : new SelectList(Enumerable.Empty<SelectListItem>()))">
                    <option value="">-- Chọn Product --</option>
                </select>
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars" class="control-label"></label>
                <input asp-for="Stars" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRated" class="control-label"></label>
                <input asp-for="DateRated" class="form-control" />
                <span asp-validation-for="DateRated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
