Application.API/appsettings.json
/.vs
/Application.API/bin/Debug/net8.0
/Application.API/obj
/Application.Data/bin/Debug/net8.0
/Application.Data/obj
/Application.MVC/bin/Debug/net8.0
/Application.MVC/obj
/Application.MVC.GeneralPublic/bin/Debug/net8.0
/Application.MVC.GeneralPublic/obj
