@{
    ViewBag.Title = "Quên mật khẩu";
}

<div class="container-fluid">

    <h2 class="text-center">Quên mật khẩu</h2>
    <p class="text-center">Hãy nhập Email của bạn để tiến hành đặt lại mật khẩu.</p>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="text-center">
                <form method="post" action="/Login/ForgotPassword">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Email</label>
                            <input class="form-control" type="email" name="Email" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary mt-2 text-center" type="submit">Gửi yêu cầu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <br /><br /><br /><br /><br /><br />
</div>

@if (TempData["FailureBanner"] != null)
{
    <p style="color:red;">@TempData["FailureBanner"]</p>
}
@if (TempData["SuccessBanner"] != null)
{
    <p style="color:green;">@TempData["SuccessBanner"]</p>
}
