@{
    ViewBag.Title = "Đặt lại mật khẩu";
}

<div class="container-fluid">
    <h2 class="text-center">Đặt lại mật khẩu</h2>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="text-center">

                @if (TempData["FailureBanner"] != null)
                {
                    <div class="alert alert-danger">@TempData["FailureBanner"]</div>
                }
                @if (TempData["SuccessBanner"] != null)
                {
                    <div class="alert alert-success">@TempData["SuccessBanner"]</div>
                }


                <form method="post" action="/Login/ResetPassword">
                    <input type="hidden" name="Token" value="@ViewBag.Token" />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Mật khẩu mới</label>
                            <input class="form-control" type="password" name="NewPassword" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Xác nhận mật khẩu</label>
                            <input class="form-control" type="password" name="ConfirmPassword" required />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 text-center">Đặt lại mật khẩu</button>
                </form>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
