@using Application.Data.Enums
@model List<Application.Data.Models.Order>

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active">Đơn hàng</li>
            </ul>
        </div>
    </div>
</div>

<div>
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <div>
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Mã đơn</th>
                                    <th>Ngày đặt đơn</th>
                                    <th>Trạng thái</th>
                                    <th>Tổng giá</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Order in Model)
                                {
                                    <tr>
                                        <td>@Order.OrderNumber</td>
                                        <td>@Order.OrderDate.GetValueOrDefault().ToString("d/M/yyyy H:mm:ss")</td>
                                        <td>
                                            @switch ((OrderStatus)Order.Status)
                                            {
                                                case OrderStatus.Canceled:
                                                    <p>Bị hủy</p>
                                                    break;
                                                case OrderStatus.Refunding:
                                                    <p>Yêu cầu hoàn trả</p>
                                                    break;
                                                case OrderStatus.RefundingAgain:
                                                    <p>Yêu cầu hoàn trả (lần nữa)</p>
                                                    break;
                                                case OrderStatus.RefundProcessed:
                                                    <p>Chấp nhận hoàn trả</p>
                                                    break;
                                                case OrderStatus.RefundDelivered:
                                                    <p>Đang đến hoàn trả</p>
                                                    break;
                                                case OrderStatus.Refunded:
                                                    <p>Đã hoàn trả</p>
                                                    break;
                                                case OrderStatus.Created:
                                                    <p>Chờ xác nhận</p>
                                                    break;
                                                case OrderStatus.Processed:
                                                    <p>Đã xác nhận đơn</p>
                                                    break;
                                                case OrderStatus.Delivered:
                                                    <p>Đang vận chuyển</p>
                                                    break;
                                                case OrderStatus.Arrived:
                                                    <p>Đã đến nơi</p>
                                                    break;
                                                case OrderStatus.Received:
                                                case OrderStatus.ReceivedAgain:
                                                    <p>Đã nhận hàng</p>
                                                    break;
                                                case OrderStatus.ReceivedCompleted:
                                                    <p>Đã nhận hàng thành công</p>
                                                    break;
                                                default:
                                                    <p>N/A</p>
                                                    break;
                                            }
                                        </td>
                                        <td>@Order.GrandTotal.GetValueOrDefault().ToString("#,##0")</td>
                                        <td><a class="btn btn-secondary" asp-action="Details" asp-route-ID="@Order.OrderID">Chi tiết</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h1 class="text-center">Hiện không có đơn hàng.</h1>
                    }
                </div>
            </div>
        </div>
    </div>
</div>