@model Application.Data.DTOs.ProductDTO

@{
    ViewData["Title"] = "Sửa sản phẩm";
}

<h1>Sửa sản phẩm</h1>
<hr />

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-4">
            <label asp-for="Name" class="control-label">Tên sản phẩm</label>
            <input asp-for="Name" class="form-control" required />
        </div>
        <div class="col-md-4">
            <label asp-for="Price" class="control-label">Giá</label>
            <input asp-for="Price" class="form-control" required />
        </div>
        <div class="col-md-4">
            <label class="form-label">Ảnh bìa</label>
            <input type="file" name="Image" class="form-control-file" accept="image/png, image/jpeg" aria-label="Upload picture" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pb-3">
            <label asp-for="Description" class="control-label">Mô tả</label>
            <textarea asp-for="Description" class="form-control" style="min-height: 200px" required></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>

<div>
    <a asp-action="Index">Về trang trước</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}