* {
    font-family: Philosopher;
}

@font-face {
    font-family: Philosopher;
    src: url("../fonts/Philosopher-Regular.ttf")
}
@font-face {
    font-family: Philosopher;
    src: url("../fonts/Philosopher-Italic.ttf");
    font-style: italic
}
@font-face {
    font-family: Philosopher;
    src: url("../fonts/Philosopher-Bold.ttf");
    font-weight: 700
}
@font-face {
    font-family: Philosopher;
    src: url("../fonts/Philosopher-Bold.ttf");
    font-weight: 700;
    font-style: italic
}