@model Application.Data.Models.ProductWarranty

@{
    ViewData["Title"] = "Create";
    var products = ViewBag.Products as List<Application.Data.Models.Product>;

}

<h1>Create</h1>

<h4>ProductWarranty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*             <div class="form-group">
                <label asp-for="WarrantyID" class="control-label"></label>
                <input asp-for="WarrantyID" class="form-control" />
                <span asp-validation-for="WarrantyID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                 <select asp-for="ProductID" class="form-control"
                asp-items="@(products != null && products.Any() ? new SelectList(products, "ProductID", "Name") : new SelectList(Enumerable.Empty<SelectListItem>()))">
            <option value="">-- Chọn Product --</option>
        </select>
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrantyPeriod" class="control-label"></label>
                <input asp-for="WarrantyPeriod" class="form-control" />
                <span asp-validation-for="WarrantyPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrantyConditions" class="control-label"></label>
                <input asp-for="WarrantyConditions" class="form-control" />
                <span asp-validation-for="WarrantyConditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
