@using Application.Data.Enums
@model Application.Data.DTOs.VoucherDTO;

@{
    ViewData["Title"] = "Update product size";
}

<h1>Cập nhật thông tin Voucher</h1>

<form asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-4">
            <label asp-for="VoucherCode" class="form-label">Mã Voucher</label>
            <input asp-for="VoucherCode" class="form-control font-monospace-cascadia" required aria-label="Input voucher code to use" />
            <span>Mã Voucher phải độc nhất và không chứa ký tự đặc biệt!</span>
        </div>
        <div class="col-md-4">
            <label asp-for="UsesLeft" class="form-label">Số lượng</label>
            <input asp-for="UsesLeft" class="form-control" type="number" placeholder="0" step="1" min="-1" max="10000000"
                   aria-label="Input how many uses this voucher can be used. Select -1 for INFINITE USES!!!" />
            <span>Điền <b>-1</b> để có vô số Voucher này.</span>
        </div>
        <div class="col-md-4">
            <label asp-for="RequiredGrandTotal" class="form-label">Yêu cầu tổng giá tối thiểu</label>
            <input asp-for="RequiredGrandTotal" class="form-control" type="number" placeholder="0" step="100" min="0" max="@(1e15)" aria-label="" />
            <span>Tối đa: 1,000,000,000,000.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for="UseDiscountPrice" class="form-label">Giảm giá theo</label><br />
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" onchange="Toggle()" id="RadioPercent" value="False" asp-for="UseDiscountPrice" class="custom-control-input" checked>
                <label class="custom-control-label" for="RadioPercent">Phần trăm đơn</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" onchange="Toggle()" id="RadioNumber" value="True" asp-for="UseDiscountPrice" class="custom-control-input">
                <label class="custom-control-label" for="RadioNumber">Số tiền nhất định</label>
            </div>
        </div>
        <div class="col-md-8" id="PercentInput">
            <label asp-for="DiscountPercent" class="form-label">Giảm % giá</label>
            <input asp-for="DiscountPercent" class="form-control" type="number" placeholder="0" step="0.01" min="0" max="100" aria-label="" />
            <span>Từ 0 đến 100%.</span>
        </div>
        <div class="col-md-8" id="NumberInput" hidden>
            <label asp-for="DiscountPrice" class="form-label">Giảm giá tiền</label>
            <input asp-for="DiscountPrice" class="form-control" type="number" placeholder="0" step="100" min="0" max="@(1e15)" aria-label="" />
            <span>Từ 0 đến 1,000,000,000,000.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="StartingAt" class="form-label">Bắt đầu vào</label>
            <input asp-for="StartingAt" id="StartInput" onchange="Validate()" value="@Model.StartingAt.GetValueOrDefault().ToLocalTime().ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control" type="datetime-local" step="1" required aria-label="Starting date of voucher" />
        </div>
        <div class="col-md-6">
            <label asp-for="EndingAt" class="form-label">Kết thúc vào</label>
            <input asp-for="EndingAt" id="EndInput" onchange="Validate()" value="@Model.EndingAt.GetValueOrDefault().ToLocalTime().ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control" type="datetime-local" step="1" required aria-label="Ending date of voucher" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="form-label" asp-for="Status">Trạng thái</label><br />
            <div class="custom-control custom-radio custom-control-inline col-5 align-right">
                <input type="radio" id="RadioPublic" value="1" asp-for="Status" class="custom-control-input" checked>
                <label class="custom-control-label" for="RadioPublic">Công khai</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline col-5 align-middle">
                <input type="radio" id="RadioPrivate" value="101" asp-for="Status" class="custom-control-input">
                <label class="custom-control-label" for="RadioPrivate">Riêng tư</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label asp-for="Description">Mô tả</label>
            <textarea asp-for="Description" class="form-control" aria-label="Enter voucher description">
                Voucher giảm giá...
            </textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Cập nhật</button>
</form>

<script>
    function Validate() {
        if (document.getElementById('EndInput').value < document.getElementById('StartInput').value) {
            document.getElementById('StartInput').value = document.getElementById('EndInput').value;
        }

        if (document.getElementById('StartInput').value > document.getElementById('EndInput').value) {
            document.getElementById('EndInput').value = document.getElementById('StartInput').value;
            // document.getElementById('EndInput').min = document.getElementById('StartInput').value;
        }
    }

    function Toggle() {
        if (document.getElementById('RadioPercent').checked == true) {
            document.getElementById('PercentInput').removeAttribute('hidden');
            document.getElementById('NumberInput').setAttribute('hidden', '');
        }
        if (document.getElementById('RadioPercent').checked == false) {
            document.getElementById('PercentInput').setAttribute('hidden', '');
            document.getElementById('NumberInput').removeAttribute('hidden');
        }
    }
</script>
