@model Application.Data.DTOs.OrderDetailDto;
@using Application.Data.Enums;

@{
    ViewData["Title"] = "Thêm chi tiết (thủ công)";
}

<h1>Thêm chi tiết (thủ công)</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}

<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="OrderID" class="form-label">ID đơn hàng</label>
            <select asp-for="OrderID" class="form-control" asp-items="ViewBag.Ordrs">
                <option hidden value="null">(Chưa chọn hóa đơn)</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="ProductDetailID" class="form-label">Sản phẩm</label>
            <select asp-for="ProductDetailID" class="form-control" asp-items="ViewBag.Prods">
                <option hidden value="null">(Chưa chọn sản phẩm)</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for="SaleID" class="form-label">Sự kiện</label>
            <select asp-for="SaleID" class="form-control" asp-items="ViewBag.Sales">
                <option hidden value="null">(Không có)</option>
            </select>
        </div>
        <div class="col-md-4">
            <label asp-for="VoucherID" class="form-label">Voucher</label>
            <select asp-for="VoucherID" class="form-control" asp-items="ViewBag.Vchrs">
                <option hidden value="null">(Không có)</option>
            </select>
        </div>
        <div class="col-md-4">
            <label asp-for="ShippingMethodID" class="form-label">Phương thức giao hàng</label>
            <select asp-for="ShippingMethodID" class="form-control" asp-items="ViewBag.Ships">
                <option hidden value="null">(Không có)</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label asp-for="Quantity" class="form-label">Số lượng</label>
            <input asp-for="Quantity" class="form-control" type="number" min="1" max="100" step="1" />
        </div>
        <div class="col-md-5">
            <label asp-for="Price" class="form-label">Đơn giá</label>
            <input asp-for="Price" class="form-control" type="number" min="0" step="1" />
        </div>
        <div class="col-md-5">
            <label asp-for="TotalUnitPrice" class="form-label">Tổng giá hàng</label>
            <input asp-for="TotalUnitPrice" class="form-control" type="number" min="0" step="1" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for="Quantity" class="form-label">Giảm giá</label>
            <input asp-for="Quantity" class="form-control" type="number" min="1" max="100" step="1" />
        </div>
        <div class="col-md-8">
            <label asp-for="SumTotalPrice" class="form-label">Tổng thanh toán</label>
            <input asp-for="SumTotalPrice" class="form-control" type="number" min="0" step="1" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}