@model Application.Data.DTOs.Size_ProductDetailDTO;

@{
    ViewData["Title"] = "Update relation";
}

<h1>Update size & product detail relation</h1>

<form asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="ProductDetailID" class="form-label">Product</label>
            <select asp-for="ProductDetailID" class="form-select" aria-label="Select a size to add item into" asp-items="@ViewBag.PrdDs">
                <option selected hidden value="">(No product specified)</option>
            </select>
            <span asp-validation-for="SizeID">Product is required!</span>
        </div>
        <div class="col-md-6">
            <label asp-for="SizeID" class="form-label">Size</label>
            <select asp-for="SizeID" class="form-select" aria-label="Select a size to add item into" asp-items="@ViewBag.Sizes">
                <option selected hidden value="">(No size specified)</option>
            </select>
            <span asp-validation-for="SizeID">Size is required!</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>