@model Application.Data.DTOs.ProductDetailDTO
@using Application.Data.Enums;

@{
    ViewData["Title"] = "Tạo chi tiết sản phẩm";
}

<h1>Tạo chi tiết sản phẩm</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <label asp-for="ProductID" class="form-label">Sản phẩm</label>
            <select asp-for="ProductID" class="form-control" aria-label="Select category to assign to" asp-items="@ViewBag.Prods">
                <option selected value=null>(Chưa chọn)</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="CategoryID" class="form-label">Danh mục</label>
            <select asp-for="CategoryID" class="form-control" aria-label="Select category to assign to" asp-items="@ViewBag.Catgs">
                <option selected value=null>(Chưa chọn)</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="SizeID" class="form-label">Kích cỡ</label>
            <select asp-for="SizeID" class="form-control" aria-label="Select size to assign to" asp-items="@ViewBag.Sizes">
                <option selected value=null>(Chưa chọn)</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="ColorID" class="form-label">Màu</label>
            <select asp-for="ColorID" class="form-control" aria-label="Select color to assign to" asp-items="@ViewBag.Colrs">
                <option selected value=null>(Chưa chọn)</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for="Material" class="form-label">Chất liệu</label>
            <input asp-for="Material" type="text" class="form-control" aria-label="Specify product material" placeholder="Nhập chất liệu" />
        </div>
        <div class="col-md-8">
            <label asp-for="Brand" class="form-label">Hãng hiệu</label>
            <input asp-for="Brand" type="text" class="form-control" aria-label="Specify brand" placeholder="Nhập hãng hiệu"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="PlaceOfOrigin" class="form-label">Xuất xứ</label>
            <input asp-for="PlaceOfOrigin" type="text" class="form-control" aria-label="Specify" placeholder="Nhập xuất xứ" />
        </div>
        <div class="col-md-4">
            <label asp-for="Quantity" class="form-label">Số lượng</label>
            <input asp-for="Quantity" type="number" step="1" min="1" max="10000000" class="form-control" aria-label="Specify amount of products" placeholder="Nhập số lượng"/>
        </div>
        <div class="col-md-2">
            <label asp-for="Status" class="form-label">Trạng thái</label>
            <select asp-for="Status" class="form-control">
                <option value="1" selected>Còn bán</option>
                <option value="0" selected>Không bán</option>
            </select>
        </div>
    </div>

    <button class="btn btn-primary mt-3" type="submit">Tạo mới</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}