@model List<Application.Data.Models.ShoppingCart>

<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Giỏ hàng</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle">
                            <thead class="thead-dark text-center">
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Giá tiền</th>
                                    <th>Số lượng</th>
                                    <th>Tổng cộng</th>
                                    <th>Gỡ sản phẩm</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                @foreach (var Item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div>
                                                <a href="#"><img class="img-fluid img-thumbnail" style="max-width: 200px" src="@($"https://localhost:7187/Images/{Item?.ProductDetail?.Product?.Image?.ImageFileName}")" alt="Image"></a>
                                                <p>@Item?.ProductDetail?.Product?.Name</p>
                                            </div>
                                        </td>
                                        <td id="PriceSingle_@(Item?.ProductDetailID.ToString() ?? "null")">@Item?.ProductDetail?.Product?.Price.GetValueOrDefault().ToString("#,##0")</td>
                                        <td>
                                            <div class="quantity">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend pr-2">
                                                        <button class="btn btn-primary btn-minus" onclick="Remove1('@Item?.ProductDetailID.ToString()')" type="button"><i class="fa fa-minus"></i></button>
                                                    </div>
                                                    <input class="form-control text-center" placeholder="1" onkeyup="Edit1('@Item?.ProductDetailID.ToString()')" id="ProductAmount_@(Item?.ProductDetailID.ToString() ?? "null")" type="number" value="@Item?.QuantityCart" min="1" step="1">
                                                    <div class="input-group-prepend pl-2">
                                                        <button class="btn btn-primary btn-plus" onclick="Add1('@Item?.ProductDetailID.ToString()')" type="button"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="PriceTotalItems" id="PriceTotal_@(Item?.ProductDetailID.ToString() ?? "null")">@Item?.Price.GetValueOrDefault().ToString("#,##0")</td>
                                        <td><a class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon">
                                <div class="input-group mb-3">
                                    <input class="form-control" type="text" placeholder="Mã Voucher" style="text-transform: UPPERCASE">
                                    <div class="input-group-prepend pl-2">
                                        <button class="btn btn-primary" type="button">Dùng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h2>Tổng kết</h2>
                                    <div class="row">
                                        <b class="col-md-5">Chi phí hàng hóa</b>
                                        <p class="col-md-7 text-right">@((Model.Sum(x => x.Price)).GetValueOrDefault().ToString("#,##0"))đ</p>
                                        <b class="col-md-5">Chi phí giao hàng</b>
                                        <p class="col-md-7 text-right">@((Model.Sum(x => x.Price) * 0.01).GetValueOrDefault().ToString("#,##0"))đ</p>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <h4 class="col-md-5">Tổng giá</h4>
                                        <p class="col-md-7 text-right">@((Model.Sum(x => x.Price) * 1.01).GetValueOrDefault().ToString("#,##0"))đ</p>
                                    </div>
                                </div>
                                <div class="cart-btn">
                                    <button class="btn btn-primary">Cập nhật giỏ hàng</button>
                                    <button class="btn btn-success">Thanh toán</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/shopping_cart_logic.js"></script>