@model Application.Data.DTOs.SizeDTO;

@{
    ViewData["Title"] = "Update product size";
}

<h1>Update product size</h1>

<form asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Name" class="form-label">Size name</label>
            <input type="text" asp-for="Name" class="form-input" aria-label="Input size name">
            <span asp-validation-for="Name">Required!</span>
        </div>
        <div class="col-md-6 mt-4">
            <label asp-for="Status" class="form-label">Size</label>
            <input asp-for="Status" class="form-input" aria-label="Is available?">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<div class="alert alert-warning" role="alert">
    Only use this edit function to edit typos! (Like it matters anyway...)
</div>