@model Application.Data.DTOs.UserDTO;
@using Application.Data.Enums;

@{
    ViewData["Title"] = "Update user information";
}

<h1>Update user</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" class="form-control" type="text" maxlength="30" aria-label="Enter unique username">
            <span asp-validation-for="Username">Username is required!</span>
        </div>
        <div class="col-md-4">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control" type="password" aria-label="Enter a super memorable password">
            <span asp-validation-for="Password">Password is VERY required!</span>
        </div>
        <div class="col-md-4">
        <label asp-for="Status" class="form-label">Visibility</label>
        <select asp-for="Status" class="form-select" aria-label="Is it available?">
            <option selected value="@((int)VisibilityStatus.Available)">Available</option>
            <option value="@((int)VisibilityStatus.Locked)">Unavailable</option>
        </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for="FirstName" class="form-label">First name</label>
            <input asp-for="FirstName" class="form-control" type="text" aria-label="Enter first name">
        </div>
        <div class="col-md-4">
            <label asp-for="LastName" class="form-label">Last name</label>
            <input asp-for="LastName" class="form-control" type="text" aria-label="Enter last name">
        </div>
        <div class="col-md-4">
            <label asp-for="PhoneNumber" class="form-label">Phone number</label>
            <input asp-for="PhoneNumber" class="form-control" type="text" maxlength="15" aria-label="Enter your phone number">
        </div>
        <br />
        <i class="text-center text-decoration-underline">You can always enter these info later.</i>
    </div>
    <div class="row">
        <div class="col-md-8">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" type="text" aria-label="Enter email">
            <span asp-validation-for="Email">Optional, but essential for password reset, etc.</span>
        </div>
        <div class="col-md-4">
            <label class="form-label">Profile picture</label>
            <input type="file" name="ProfilePic" class="form-control" accept="image/png, image/jpeg" aria-label="Upload profile picture" />
            <span asp-validation-for="Password">Optional.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label asp-for="Address" class="form-label">Address</label>
            <textarea asp-for="Address" class="form-control" type="text" aria-label="Enter address"></textarea>
            <span asp-validation-for="Address">Optional.</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>