@model Application.Data.DTOs.UserDTO;
@using Application.Data.Enums;

@{
    ViewData["Title"] = "Cập nhật người dùng";
    var SessionUserID = ViewBag.UserID as Guid?;
    var SessionUserIDRoute = ViewBag.UserIDRoute as Guid?;

    var RolesBag = ViewBag.Roles as List<SelectListItem>;
    if (SessionUserID == SessionUserIDRoute)
    {
        RolesBag = RolesBag?.Where(Bruh => Bruh.Value == Model.RoleID.GetValueOrDefault().ToString()).ToList();
    }
}

<h1>Cập nhật người dùng</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}
else
{
    @* I'm so smart *@

    <div class="alert alert-warning" role="alert">
        Để trống trường <b>Mật khẩu</b> để không nhập mật khẩu mới.
    </div>
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Username" class="form-label">Tên tài khoản</label>
            <input asp-for="Username" class="form-control" type="text" maxlength="30" required readonly aria-label="Enter unique username">
            <span asp-validation-for="Username"></span>
        </div>

        @* GHI CHÚ: Trong form edit thì không được để attribute "required" ở trường Password để cho phép ko thay đổi mật khẩu *@
        <div class="col-md-6">
            <label asp-for="Password" class="form-label">Mật khẩu</label>
            <input asp-for="Password" class="form-control" type="password" aria-label="Enter a super memorable password">
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="row">
   @*      <div class="col-md-6">
            <label asp-for="Status" class="form-label">Trạng thái</label>
            <select asp-for="Status" class="form-control" aria-label="Is it available?">
                <option selected value="@((int)VisibilityStatus.Available)">Mở</option>
                <option value="@((int)VisibilityStatus.Locked)">Khóa</option>
            </select>
        </div> *@
        <div class="col-md-6">
            <label asp-for="RoleID" class="form-label">Vai trò</label>
            <select asp-for="RoleID" class="form-control" aria-label="What permissions?" asp-items="@RolesBag">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for="LastName" class="form-label">Họ</label>
            <input asp-for="LastName" class="form-control" type="text" aria-label="Enter last name">
        </div>
        <div class="col-md-4">
            <label asp-for="FirstName" class="form-label">Tên</label>
            <input asp-for="FirstName" class="form-control" type="text" aria-label="Enter first name">
        </div>
        <div class="col-md-4">
            <label asp-for="PhoneNumber" class="form-label">Số điện thoại</label>
            <input asp-for="PhoneNumber" class="form-control" type="text" maxlength="15" aria-label="Enter your phone number">
        </div>
        <br />
        <i class="text-decoration-underline" style="text-align: center">Có thể điền những thông tin này sau.</i>
    </div>
    <div class="row">
        <div class="col-md-8">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" type="text" aria-label="Enter email">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="col-md-4">
            <label class="form-label">Ảnh đại diện</label>
            <input type="file" name="NewProfilePic" class="form-control" accept="image/png, image/jpeg" aria-label="Upload profile picture" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label asp-for="Address" class="form-label">Địa chỉ</label>
            <textarea asp-for="Address" class="form-control" style="min-height: 180px" type="text" aria-label="Enter address"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}